<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.github.ljl.jerrymouse.apps.servlet.JerryMouseHttpTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test2</servlet-name>
        <servlet-class>com.github.ljl.jerrymouse.apps.servlet.JerryMouseHttpTest2Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test2</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test3</servlet-name>
        <servlet-class>com.github.ljl.jerrymouse.apps.servlet.JerryMouseHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test3</servlet-name>
        <url-pattern>/test3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test-filter</servlet-name>
        <servlet-class>com.github.ljl.jerrymouse.apps.servlet.JerryMouseFilterTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test-filter</servlet-name>
        <url-pattern>/test-filter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test-listener-attr</servlet-name>
        <servlet-class>com.github.ljl.jerrymouse.apps.servlet.TestAttrListenerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test-listener-attr</servlet-name>
        <url-pattern>/test/listener/attr</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>helloFilter</filter-name>
        <filter-class>com.github.ljl.jerrymouse.apps.filter.HelloFilter</filter-class>
    </filter>
    <!--剔除/web-demo/-->
    <filter-mapping>
        <filter-name>helloFilter</filter-name>
        <url-pattern>/.*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>secondFilter</filter-name>
        <filter-class>com.github.ljl.jerrymouse.apps.filter.SecondFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>secondFilter</filter-name>
        <url-pattern>/test-filter</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.github.ljl.jerrymouse.apps.listener.JerryMouseContextAttributeListener</listener-class>
    </listener>
</web-app>